transformers
ipykernel
torch
crewai
crewai-tools
langchain
langchain-google-genai
langchain_community
tavily-python
python-dotenv
groq
fastapi
uvicorn
python-multipart
PyPDF2
pdfplumber
bitsandbytes
accelerate

huggingface_hub
